<h1>Student</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Student</a>
<input
  type="text"
  class="form-control"
  [(ngModel)]="search"
  placeholder="Filter from here"
/>


<table  class="table table-striped d-sm-block d-none">
  <thead>
    <tr>
      <th style="width: 15%">SN</th>
      <th style="width: 20%">Full Name</th>
      <th style="width: 20%">Email</th>
      <th style="width: 20%">Phone</th>
      <th style="width: 10%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students | filter: search | paginate: { id:'listing_pagination',
    itemsPerPage:10, currentPage:p, totalItems:totalRecords } let i = index">

      <td>{{ i + 1 }}</td>
      <!-- <td>{{student._id}}</td> -->
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.phone }}</td>
      <td style="white-space: nowrap">
        <a
          routerLink="edit/{{ student._id }}"
          class="btn btn-sm btn-primary mr-1"
          >Edit</a
        >
        <button
          (click)="deleteStudent(student._id)"
          class="btn btn-sm btn-danger btn-delete-product"
          [disabled]="student.isDeleting"
        >
          <span
            *ngIf="student.isDeleting"
            class="spinner-border spinner-border-sm"
          ></span>
          <span *ngIf="!student.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!students">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>

<div>

  <div *ngIf="spinner" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <h6> Please Wait ...</h6>
  </div>

  <!-- MOBILE VIEW -->
  <ul class="list-group list-group-flush d-sm-none d-block">
    <li class="list-group-item text-center font-weight-bold">Student List</li>
    <li
      class="list-group-item"
      *ngFor="let student of students | filter: search; let i = index"
    >
      <table class="table table-striped ">
        <tr>
          <th
            class="text-left m-1 p-1 font-weight-bold list-group-item-header"
            colspan="2"
          >
            SN
          </th>
        </tr>
        <td colspan="2" class="m-1 p-1 text-left">
          {{ i + 1 }}
        </td>

        <tr>
          <th
            class="text-left m-1 p-1 font-weight-bold list-group-item-header"
            colspan="2"
          >
            First Name
          </th>
        </tr>
        <td colspan="2" class="m-1 p-1 text-left">
          {{ student.name }}
        </td>

        <tr>
          <th
            class="text-left m-1 p-1 font-weight-bold list-group-item-header"
            colspan="2"
          >
            Email
          </th>
        </tr>
        <td colspan="2" class="m-1 p-1 text-left">
          {{ student.email }}
        </td>

        <tr>
          <th
            class="text-left m-1 p-1 font-weight-bold list-group-item-header"
            colspan="2"
          >
            Phone
          </th>
        </tr>
        <td colspan="2" class="m-1 p-1 text-left">
          {{ student.phone }}
        </td>

        <tr>
          <th class="text-left m-1 p-1 list-group-item-header font-weight-bold">
            Actions
          </th>
          <td class="list-group-item-value">
            <a
              routerLink="edit/{{ student._id }}"
              class="btn btn-sm btn-primary bg-primary mr-1"
              >Edit</a
            >
            <button
              (click)="deleteStudent(student._id)"
              class="btn btn-sm btn-danger btn-delete-product bg-danger"
              [disabled]="student.isDeleting"
            >
              Delete
            </button>
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div>


<div class="text-right">
  <pagination-controls id="listing_pagination"
                       (pageChange)="p = $event"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      >
</pagination-controls>
</div>