
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Nabin</a>
      <button class="navbar-toggler" type="button"
      (click)="toggleNavbarCollapsing()" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fas fa-home"></i> Home</a>
        </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/users" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i>
                Users</a>       
        </li>

        <li class="nav-item" >
          <a class="nav-link" routerLink="/student" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i>
              Student</a>       
      </li>

        </ul>
      
    
        <div class="btn-group ml-auto">
            <button type="button" class="btn btn-danger bg-secondary"> <i class="fas fa-user-shield"></i> {{user.firstName}}</button>
            <button type="button" id="dropdownMenuButton" class="btn btn-danger bg-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu mr-4 bg-light text-dark" aria-labelledby="dropdownMenuButton">
              <a class="nav-item nav-link text-dark" routerLink="/profile"><i class="fas fa-user-circle"></i> Profile</a>
            <a class="nav-item nav-link text-dark" href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
    
          </div>
    
    
          
          <div class="btn-group ml-5">
          </div>
    

    </div>
    </div>
  </nav>






<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  
</div>


